@{
    ViewData["Title"] = "Sistema de cadastro de ordens";
}

<body class="bg-dark">

    <div class="text-center">
        <h1 class="text-light display-4"> Sistema de cadastro de ordens</h1>
        <br />
        <h2 class="text-light">Renda Variável</h2>
    </div>

    <div>
        <br />
    </div>


    <div class="text-center">
        <a role="button" class="btn btn-primary" asp-controller="Acao" asp-action="Cadastro">Cadastrar Ações</a>
        <br />
        <br />
        <a role="button" class="btn btn-primary" asp-controller="Opcao" asp-action="Cadastro">Cadastrar Opções</a>
    </div>

    <br />


</body>