@model AcaoModel
@{
    ViewData["Title"] = "Cadastro de ordens";
}

<body class="bg-dark">

    <div class="text-center">
        <h1 class="text-light display-4"> Cadastro de ordens</h1>
    </div>

    <form asp-controller="Acao" asp-action="Salvar" method="post">
        <div>
            <h3 class="text-light"> Lançar ordens de Ações</h3>
            <br />

            <div class="row">

                <div class="col">
                    <label class="text-light">Data do Pregão</label>
                    <input type="date" class="form-control" asp-for="Data">
                </div>

                <div class="col">
                    <label class="text-light">Papel</label>
                    <select class="form-control" asp-for="Papel">
                        <option selected> Selecione</option>
                        <option value="ITSA4"> ITSA4</option>
                        <option value="VALE3"> VALE3</option>
                    </select>
                </div>

                <div class="col">
                    <label class="text-light">Quantidade</label>
                    <input type="number" class="form-control" asp-for="Quantidade" placeholder="100">
                </div>

                <div class="col">
                    <label class="text-light">Valor Unitário</label>
                    <input type="number" class="form-control" asp-for="Valor" placeholder="0,00">
                </div>

                <div class="col">
                    <label class="text-light">Ordem de:</label>
                    <select class="form-control" asp-for="Ordem">
                        <option selected>Compra</option>
                        <option value="Venda"> Venda</option>
                    </select>
                </div>

                <div class="col">
                    <label class="text-light">Corretora</label>
                    <select class="form-control" asp-for="Corretora">
                        <option selected>Genial</option>
                        <option value="Clear"> Clear</option>
                    </select>
                </div>
            </div>
            <br />

            <button type="submit" asp-controller="Acao" asp-action="Salvar" class="btn btn-primary"> Salvar</button>
        </div>
    </form>

    <br />
    <br />

    <div>
        <h3 class="text-light"> Lançar ordens de Opções</h3>
        <br />

        <div class="row">

            <div class="col">
                <input type="text" class="form-control" placeholder="Opção">
            </div>

            <div class="col">
                <select class="form-control">
                    <option selected> Tipo</option>
                    <option value="1"> Call</option>
                    <option value="2"> Put</option>
                </select>
            </div>

            <div class="col">
                <input type="number" class="form-control" placeholder="Strike">
            </div>

            <div class="col">
                <input type="date" class="form-control" placeholder="Vencimento">
            </div>

        </div>

        <br />

        <div class="row">

            <div class="col">
                <input type="date" class="form-control" placeholder="Data da Operação">
            </div>

            <div class="col">
                <select class="form-control">
                    <option selected> Papel</option>
                    <option value="1"> ITSA4</option>
                    <option value="2"> VALE3</option>
                </select>
            </div>

            <div class="col">
                <input type="number" class="form-control" placeholder="Quantidade">
            </div>

            <div class="col">
                <input type="number" class="form-control" placeholder="Valor">
            </div>

            <div class="col">
                <select class="form-control">
                    <option selected> Tipo de Ordem</option>
                    <option value="1"> Compra</option>
                    <option value="2"> Venda</option>
                </select>
            </div>

            <div class="col">
                <select class="form-control">
                    <option selected> Corretora</option>
                    <option value="1"> Genial</option>
                    <option value="2"> Clear</option>
                </select>
            </div>
        </div>
        <br />

        <a role="button" asp-controller="Opcao" asp-action="IndexOpcao" class="btn btn-primary"> Salvar</a>
    </div>

</body>