@model AcaoModel
@{
    ViewData["Title"] = "Edição de ordens";
}



<body class="bg-dark">

    <div class="text-center">
        <h1 class="text-light display-4"> Edição de ordens</h1>
    </div>

    <form asp-controller="Acao" asp-action="Editar" method="post">
        
        <input type="hidden" asp-for="Id" />

        <div>
            <h3 class="text-light"> Editar ordens de Ações</h3>
            <br />

            <div class="row">

                <div class="col">
                    <input type="date" value="@Model.Data" class="form-control" asp-for="Data" placeholder="Data da Operação">
                </div>

                <div class="col">
                    <select class="form-control">
                        <option selected> @Model.Papel</option>
                        <option value="ITSA4"> ITSA4</option>
                        <option value="VALE3"> VALE3</option>
                    </select>
                </div>

                <div class="col">
                    <input type="number" class="form-control" value="@Model.Quantidade" placeholder="Quantidade">
                </div>

                <div class="col">
                    <input type="number" class="form-control" asp-for="Valor" placeholder="Valor">
                </div>

                <div class="col">
                    <select class="form-control" asp-for="Ordem">
                        <option selected> Tipo de Ordem</option>
                        <option value="Compra"> Compra</option>
                        <option value="Venda"> Venda</option>
                    </select>
                </div>

                <div class="col">
                    <select class="form-control" asp-for="Corretora">
                        <option selected> Corretora</option>
                        <option value="Genial"> Genial</option>
                        <option value="Clear"> Clear</option>
                    </select>
                </div>
            </div>
            <br />

            <button type="submit" asp-controller="Acao" asp-action="Salvar" class="btn btn-primary"> Salvar</button>
        </div>
    </form>

</body>