@model AcaoModel
@{
    ViewData["Title"] = "Cadastro de ordens";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
        @TempData["MensagemErro"]
    </div>
}

<body class="bg-dark">
    <div class="text-center">
        <h1 class="text-light display-4"> Cadastro de ordens</h1>
    </div>
    <br />
    <form asp-controller="Acao" asp-action="Salvar" method="post">
        <div>
            <h3 class="text-light"> Lançar ordens de Ações</h3>
            <br />
            <div class="row">
                <div class="col">
                    <label class="text-light">Data do Pregão</label>
                    <input type="date" class="form-control" asp-for="Data">
                </div>
                <div class="col">
                    <label class="text-light">Papel</label>
                    <select class="form-control" asp-for="Papel">
                        <option selected> Selecione</option>
                        <option value="ITSA4"> ITSA4</option>
                        <option value="VALE3"> VALE3</option>
                    </select>
                </div>
                <div class="col">
                    <label class="text-light">Quantidade</label>
                    <input type="number" class="form-control" asp-for="Quantidade" placeholder="100">
                </div>
                <div class="col text-light">
                    <label>Valor Unitário</label>
                    <input type="text" class="form-control" asp-for="Valor" asp-format="{0:#,###.00}" placeholder="R$ 0,00" id="currencyAcao" onchange="currencyTreatment('#currencyAcao')" />
                </div>
                <div class="col">
                    <label class="text-light">Ordem de:</label>
                    <select class="form-control" asp-for="Ordem">
                        <option selected>Compra</option>
                        <option value="Venda"> Venda</option>
                    </select>
                </div>
                <div class="col">
                    <label class="text-light">Corretora</label>
                    <select class="form-control" asp-for="Corretora">
                        <option selected>Genial</option>
                        <option value="Clear"> Clear</option>
                    </select>
                </div>
            </div>
            <br />
            <div>
                <label class="text-light">Se houve taxa de corretagem, preencha aqui: </label>
                <input type="text" class="form-control" asp-for="Valor" placeholder="R$ 0,00" id="currencyCorretagemAcao" onchange="currencyTreatment('#currencyCorretagemAcao')" />
                <br />
                <div class="row">
                    <div class="col">
                        <a href="https://www.b3.com.br/pt_br/produtos-e-servicos/tarifas/listados-a-vista-e-derivativos/renda-variavel/tarifas-de-acoes-e-fundos-de-investimento/a-vista/">Mercado à vista - Ações</a>
                    </div>
                    <div class="col">
                        <a href="https://www.b3.com.br/pt_br/produtos-e-servicos/tarifas/listados-a-vista-e-derivativos/renda-variavel/tarifas-de-acoes-e-fundos-de-investimento/opcoes-de-acoes/">Mercado de Derivativos - Opções</a>
                    </div>
                </div>
            </div>
            <br />
            <button type="submit" asp-controller="Acao" asp-action="Index" class="btn btn-secondary">Voltar</button>
            <button type="submit" asp-controller="Acao" asp-action="Salvar" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</body>