@model RV.Domain.Models.AcaoModel
@{
    ViewData["Title"] = "Apagar ordens";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
        @TempData["MensagemErro"]
    </div>
}


<body class="bg-dark">
    <br />
    <div class="text-center">
        <h1 class="text-light display-4"> Exclusão de ordens</h1>
    </div>
    <br />
    <form asp-controller="Acao" asp-action="Index" class="text-center">
        <input type="hidden" asp-for="Id" />
        <div>
            <h3 class="text-light"> Deseja mesmo excluir esta ordem?</h3>
            <br />
        </div>
        <br />
        <div>
            <button type="submit" asp-controller="Acao" asp-action="Index" class="btn btn-secondary">Cancelar</button>
            <button type="submit" asp-route-id="@Model.Id" asp-controller="Acao"  asp-action="Apagar" class="btn btn-danger"> Confirmar</button>
        </div>
    </form>
</body>