@model OpcaoModel
@{
    ViewData["Title"] = "Cadastro de ordens";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
        @TempData["MensagemErro"]
    </div>
}

<body class="bg-dark">

    <br />

    <div class="text-center">
        <h1 class="text-light display-4"> Cadastro de ordens</h1>
    </div>

    <br />

    <form asp-controller="Opcao" asp-action="Salvar" method="post">
        <div>
            <h3 class="text-light"> Lançar ordens de Opções</h3>
            <br />

            <div class="row">

                <div class="col">
                    <label class="text-light">Data do Pregão</label>
                    <input type="date" class="form-control" asp-for="Data">
                </div>

                <div class="col">
                    <label class="text-light">Opção</label>
                    <input type="text" class="form-control" asp-for="Opcao" placeholder="ABCDA12">
                </div>

                <div class="col">
                    <label class="text-light">Quantidade</label>
                    <input type="number" class="form-control" asp-for="Quantidade" placeholder="100">
                </div>

                <div class="col text-light">
                    <label>Valor Unitário</label>
                    <input type="text" class="form-control" asp-for="Valor" placeholder="R$ 0,00">
                </div>

                <div class="col">
                    <label class="text-light">Ordem de:</label>
                    <select class="form-control" asp-for="Ordem">
                        <option selected>Compra</option>
                        <option value="Venda"> Venda</option>
                    </select>
                </div>

                <div class="col">
                    <label class="text-light">Corretora</label>
                    <select class="form-control" asp-for="Corretora">
                        <option selected>Genial</option>
                        <option value="Clear"> Clear</option>
                    </select>
                </div>

            </div>
            <br />

            <div class="row">
                <div class="col">
                    <label class="text-light">Papel</label>
                    <select class="form-control" asp-for="Papel">
                        <option selected> Selecione</option>
                        <option value="ITSA4"> ITSA4</option>
                        <option value="VALE3"> VALE3</option>
                    </select>
                </div>

                <div class="col text-light">
                    <label>Strike</label>
                    <input type="text" class="form-control" asp-for="Strike" placeholder="R$ 0,00">
                </div>

                <div class="col">
                    <label class="text-light">Tipo:</label>
                    <select class="form-control" asp-for="Tipo">
                        <option selected>Call</option>
                        <option value="Put"> Put</option>
                    </select>
                </div>

                <div class="col">
                    <label class="text-light">Data de Vencimento</label>
                    <input type="date" class="form-control" asp-for="Vencimento">
                </div>
            </div>
            <br />

            <button type="submit" asp-controller="Opcao" asp-action="Index" class="btn btn-secondary">Voltar</button>
            <button type="submit" asp-controller="Opcao" asp-action="Salvar" class="btn btn-primary">Salvar</button>
        </div>
    </form>

    <br />
</body>